*{
    margin: 0;
    padding:0;
}

body{
    width: 100%;
    height: 100vh;
    background: url(../imagens/FundoTeste6.jpg) no-repeat center center;
    background-size: cover;
}

.row{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.row .image_perf{
    padding-top: 45px;
}

.row .image_perf img{
    width: 120px;
}

.row .caption{
    padding-top: 20px;
    padding-bottom: 60px;
}

.row .caption a{
    text-decoration: none;
    font-family: 'Fredokai', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #c3c8f5;
}

.links{
    margin-top: 10px;
    padding-top: 2px;
    width: 400px;
    height: 40px;
    background-color: rgba(21, 23, 26, 0.747);
    text-align: center;
    border-radius: 15px;
    opacity: 0.9;
    text-transform: uppercase;
    letter-spacing: 9px;
}

.links:hover{
    background-color: #7C86CE;
}

.links a{
    color: #fff;
    text-decoration: none;
    font-size: 1.3em;
    text-align: center;
}

.links a:hover{
    color: #626470;
}

.IconGit{
    width: 40px;
    display: flex;
    margin-left: 28px;
    position: absolute;
}

.IconLinkedin{
    width: 30px;
    margin-left: 34px;
    display: flex;
    position: absolute;
}

.IconWeb{
    width: 45px;
    display: flex;
    margin-left: 27px;
    position: absolute;
}

.IconInstagram{
    width: 39px;
    display: flex;
    margin-left: 30px;
    position: absolute;
}

.IconWhats{
    width: 34px;
    display: flex;
    margin-left: 34px;
    position: absolute;
}

.IconCheck{
    width: 39px;
    display: flex;
    margin-left: 31px;
    position: absolute;
}

.rodape{
    display: flex;
    justify-content: center;
    margin-top: -15px;
}

.rodape p{
    font-size: 18px;
    color: #c3c8f5;
}

@media (min-width: 720px){
    body{
        background: url(../imagens/FundoTeste6.jpg) no-repeat center center;
        background-size: cover;
        height: 100vh;
    }
    .row .image_perf img {
        width: 180px;
    }
    .row .caption{
        padding-top: 25px;
        padding-bottom: 70px;
    }

    .row .caption a{
        text-decoration: none;
        font-family: 'Fredokai', sans-serif;
        font-weight: 600;
        color: #c3c8f5;
        font-size: 1.5em;
    }

    .caption a:hover{
        color: #3e4372;
    }

    .links{
        margin-top: 20px;
        padding-top: 5px;
        width: 650px;
        background-color: rgba(50, 54, 62, 0.8);
        text-align: center;
        opacity: 0.9;
        text-transform: uppercase;
        
    }

    .links a{
        padding-top: 12px;
    }

    .rodape{
        display: block;
        margin-top: -35px;
        text-align: center;
    }

    .rodape p{
        font-size: 25px;
        color: #c3c8f5;
    }
}

@media (max-width: 300px) {
    .links{
        margin-top: 10px;
        padding-top: 2px;
        width: 300px;
        height: 40px;
        background-color: rgba(21, 23, 26, 0.747);
        text-align: center;
        border-radius: 15px;
        opacity: 0.9;
        text-transform: uppercase;
        letter-spacing: 9px;
    }
}
